<template>
  <div class="flex gap-4 flex-col">
    <div v-for="brandId in brandIds" :key="brandId" class="flex gap-4">
      <div @click="nextproductRoute(product)" v-for="product in getProductsByBrand(brandId)" :key="product.id" class="flex flex-col w-[220px] bg-white border-[2px] border-blue-300 rounded-lg my-2 items-center justify-between hover:bg-[#0abab5] hover:text-white">

        <!-- Product Brand Name and Discount Badge -->
        <div class="flex items-center justify-between w-[220px] pl-4">
          <div class="font-bold text-xl">{{ product.brand_name }}</div>
          <div v-if="product.discount_percent !== 0" class="flex w-[60px] h-[60px] text-white justify-center items-center rounded-tr-lg rounded-bl-lg text-center" :class="color">{{ product.discount_percent }}% OFF</div>
          <div v-else class="flex w-[60px] h-[60px]"></div>
        </div>

        <!-- Product Image -->
        <div class="flex justify-center w-[200px]">
          <img :src="'http://127.0.0.1:8000/storage/' + product.images" alt="Product Image">
        </div>

        <!-- Product Details -->
        <div class="flex flex-col justify-between w-full px-4 h-fit">
          <div class="mt-4">
            <p class="font font-bold text-[18px]">{{ product.name }}</p>
            <p class="mt-2 text-gray-600 font-semibold">{{ truncateDescription(product.description) }}</p>
          </div>

          <!-- Product Pricing -->
          <div class="flex w-full flex-col gap-4 pb-2">
            <div class="border-b-2 border-gray-300 w-full"></div>
            <div class="flex w-full justify-between">
              <p class="text-green-500">${{ product.discounted_price }}</p>
              <div v-if="product.discount_percent !== 0"><p class="text-red-500 line-through">${{ product.pricing }}</p></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

  
<script>
  import axios from 'axios';
  
  export default {
    name: "Product",
    props: {
      tag: String,
      color: String,
    },
    data() {
      return {
        products: [],
        brandIds: [], // Add brandIds array
      };
    },
    mounted() {
      this.fetchBrandIds(); // Fetch brand IDs
      this.fetchData(); // Use mounted instead of created
    },

    methods: {
      async fetchBrandIds() {
        try {
          const response = await axios.get('http://127.0.0.1:8000/api/getbrandid');
          this.brandIds = response.data;
        } catch (error) {
          console.error('Error fetching brand IDs:', error);
        }
      },

      async fetchProducts(categoryId) {
        const numericcategoryId = +categoryId;
        try {
          this.products = [];
          for (let brandId of this.brandIds) {
            console.log('Fetching products for categoryId:', categoryId);
            const response = await axios.get('http://127.0.0.1:8000/api/getproductbycategoryandbrand', {
              params: {
                category_id: numericcategoryId,
                brand_id: brandId,
              },
            });
            this.products = this.products.concat(response.data);
          }
        } catch (error) {
          console.error('Error fetching products:', error);
        }
      },

        getCategoryIdFromUrl() {
            const pathArray = window.location.pathname.split('/');
            const categoryId = pathArray[pathArray.length - 1];
            return categoryId || null;
        },

        async fetchData() {
          await this.fetchBrandIds(); // Wait for brand IDs to be fetched
          const categoryId = this.getCategoryIdFromUrl();
          console.log("categoryId:", categoryId);
          await this.fetchProducts(categoryId);
        },

        getProductsByBrand(brandId) {
          // Filter products based on the current brand_id
          return this.products.filter(product => product.brand_id === brandId);
        },

        nextproductRoute(product) {
          this.$router.push({ path: `/productdetail/${product.id}` });
        },

        truncateDescription(description) {
          const maxLength = 60;
          if (description.length > maxLength) {
            return description.substring(0, maxLength) + '...';
          } else {
            return description;
          }
        },

    },
    watch: {
            $route(to, from) {
            this.fetchData();
            },
        },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  